h1 {
    font-size: 150px;
    color:darkred;
    text-align: center;
    background-color:lightgreen;
}

p {
    font-size: 25px;
}

body {
    background-color: lightyellow;
    max-width: 800px;
    margin:auto;
}

/* myBorder klass */
.myBorder {
    border: gold solid 5px;
    border-radius: 100px;
    padding: 25px;
    margin: 100px;
}

.shadow {
    text-shadow: red 0px 0px 4px, yellow 0px 0px 2px;
    
}

.sideContent {
    position: absolute;
    top: 100px;
    left: 100px;
}